body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("https://images.stockcake.com/public/0/c/0/0c0898e4-9266-4237-9f8d-8df47efa885a_large/urban-arial-view-stockcake.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}